<nav>
  <div class="navbar-nav navbar-expand-lg uiNav container-fluid">
    <div class="collapse navbar-collapse">
      <a href="#"><span class="" ></span></a>
      <ul class="navbar-nav mr-auto row-cols-sm-1">
        <li><a href="#" routerLink="auth" class="nav-item">ثبت نام/ورود</a></li>
        <li><a href="#" class="nav-item"><i class=""></i>ارتباط با ما</a></li>
      </ul>
    </div>
    <div class="navbar-header">
      <a href="#" routerLink="home" class="navbar-brand"><img src="/assets/dapixiLogo3.png" alt="LogoBrand" style="max-height: 70px"></a>
    </div>
  </div>
</nav>
