form{
    direction: rtl;
}
input[type="email"],input[type="password"],input[type="date"]{
    text-align: left;
}
.btn{
    background-color: var(--secondary_color);
    color: white;
    width: 100%;
}
.form-link{
    cursor: pointer;
    display: block;
    padding-bottom: 0.5rem;
    color: var(--text_color);
    :hover{
        text-decoration: underline;
    }
}