form{
    direction: rtl;
}
.error-toggler:hover{
    text-decoration: none;
}
input[type="email"],input[type="password"],input[type="date"]{
    text-align: left;
}
.btn{
    background-color: var(--secondary_color);
    color: white;
    width: 100%;
}
.form-link{
    cursor: pointer;
    display: block;
    padding-bottom: 0.8rem;
    white-space: nowrap;
    color: var(--text_color);
    :hover{
        text-decoration: underline;
    }
    @media (max-width:364px) {
        white-space: normal;
    }
}