form{
    direction: rtl;
}
.error-toggler:hover{
    text-decoration: none;
}
input[type="email"],input[type="password"],input[type="date"]{
    text-align: left;
}
.btn{
    background-color: var(--secondary_color);
    color: white;
    width: 100%;
}
.change{
    cursor: pointer;
    color: var(--text_color);
    :hover{
        text-decoration: underline;
    }
}
input.ng-invalid.ng-touched,textarea.ng-invalid.ng-touched{
    border: 2px solid red;
}

.ltr-input {
    direction: ltr;
}
