.uiPost {
  height: auto;
  width: 100%;
  border-radius: 20px;
  /*border-style: solid;
  border-color: var(--text_color);*/
  box-shadow: 0 4px 8px 0 var(--text_color), 0 6px 20px 0 var(--secondary_color);
  border-width: 3px;
  /*padding: 5px;
  margin: 5px;*/
}
