<div class="container profile">
    <div class="row align-items-center p-2">
        <div class="col-2">
            <button class="profile-button share-button mb-0" ngxClipboard [cbContent]="link" (click)="copyLink()">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </button>
            <p class="m-0" *ngIf="copied"><small>لینک پرفایل کپی شد</small></p>
        </div>
        <div *ngIf="userView" class="col-6 col-md-7 col-lg-8 pl-5 d-felx align-items-center">
            <h3 class="name">{{ userView.firstName }}</h3>
            <p class="mb-1">@{{ userView.username }}</p>
            <p class="m-0"><small>{{ userView.birthDate }}</small></p>
        </div>
        <div class="col-4 col-md-3 col-lg-2">
            <div class="profile-img-box">
                <img src="../../../assets/dapixiLogo.png" alt="" class="img-fluid rounded-circle profile-img">
                <button *ngIf="currnetUser" class="profile-button edit-button mb-0" ngxClipboard [cbContent]="link" [routerLink]='["edit"]'>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div *ngIf="currnetUser" class="row current">
        <div class="col-12 pl-5 mt-2">
            <p>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                {{ userView.email }}
            </p>
            <p>
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                {{ userView.mobile }}
            </p>
        </div>
    </div>
</div>