<div class="container profile">
    <div class="row align-items-center p-2" *ngIf="isPresent">
        <div class="col-2">
            <button class="profile-button share-button mb-0" ngxClipboard [cbContent]="link" (click)="copyLink()">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </button>
            <p class="m-0" *ngIf="copied"><small>لینک پرفایل کپی شد</small></p>
        </div>
        <div class="col-4 col-md-5 col-lg-6 py-4">
            <div class="row no-gutters d-felx justify-content-around">
                <div class="col-4 text-center">
                    <a class="follow-link">
                        <div>
                            <h1>15</h1>
                            <p>دنبال شوندگان</p>
                        </div>
                    </a>
                </div>
                <div class="col-4 text-center">
                    <a class="follow-link">
                        <div>
                            <h1>15</h1>
                            <p>دنبال کنندگان</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="w-100" [ngClass]="{'outline-btn':loginUser}" (click)="onBtnClick()">{{ loginUser ? "ویرایش پروفایل" : "دنبال کردن" }}</button>
                </div>
            </div>
        </div>
        <div *ngIf="userView" class="col-2 col-md-2 col-lg-2 pl-5 d-felx align-items-center">
            <h3 class="name">{{ userView.firstName }}</h3>
            <p class="mb-1">@{{ userView.username }}</p>
            <p class="m-0"><small>{{ userView.birthDate }}</small></p>
        </div>
        <div class="col-4 col-md-3 col-lg-2">
            <div class="profile-img-box">
                <img src="../../../assets/dapixiLogo.png" alt="" class="img-fluid rounded-circle profile-img">
                <!-- <button *ngIf="loginUser" class="profile-button edit-button mb-0" ngxClipboard [cbContent]="link" [routerLink]='["edit"]'>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button> -->
            </div>
        </div>
    </div>
    <div *ngIf="loginUser" class="row current">
        <div class="col-12 pl-5 mt-2">
            <p *ngIf="isPresent">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                {{ userView.email}}
            </p>
            <p *ngIf="isPresent">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                {{ userView.mobile }}
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-4" *ngFor="let post of userPosts">
            <app-post [post]="post"></app-post>
        </div>
    </div>
</div>