<div class="container profile">
    <div *ngIf="loaderService.isLoading | async">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <button class="profile-button share-button-no-auth mb-0 " ngxClipboard [cbContent]="link" (click)="copyLink()" *ngIf="!isAuth">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
    </button>
    <div class="col-12 text-left copy-no-auth" *ngIf="!isAuth">
        <p class="m-0" *ngIf="copied"><small>لینک پرفایل کپی شد</small></p>
    </div>
    <div class="row  p-2 rtl" *ngIf="isPresent">
        <div class="col-4 col-md-3 col-lg-3 profile-img-col">
          <div class="avatar-upload">
            <div *ngIf="isAuth && loginUser" class="avatar-edit" [matMenuTriggerFor]="profilePic">
              <a id="choose"></a>
              <label for="choose"></label>
            </div>
            <mat-menu class="dropDownMenu" #profilePic>
              <div mat-menu-item>
                <input #inputFile (change)="onChange($event)"  type='file' id="imageUpload" accept="image/*" />
                <label for="imageUpload" style="cursor: pointer;font-family: 'IRANSansWeb';"><mat-icon>file_upload</mat-icon>آپلود عکس </label>
              </div>
              <div mat-menu-item>
                <div (click)="deletePic()">
                  <mat-icon>delete_forever</mat-icon>
                  <span style="font-family: 'IRANSansWeb';">حذف عکس</span>
                </div>
              </div>
            </mat-menu>
            <div class="avatar-preview">
              <div id="imagePreview" [ngStyle]="{'background-image':'url(' + pictureUrl + ')'}" >
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="userView" class="d-none d-sm-flex flex-column  col-sm-4 col-md-3 col-lg-2 pl-5  justify-content-center">
            <h3 class="name">{{ userView.firstName }} {{userView.lastName}}</h3>
            <p class="mb-1">@{{ userView.username }}</p>
            <p class="m-0"><small>{{ userView.birthDate }}</small></p>
        </div>
        <div *ngIf="isAuth" class="col-8 col-sm-4 col-md-6 col-lg-7 follow-box">
            <div class="row no-gutters  rtl">
                <div class="col-6 col-sm-4 text-center">
                    <a class="follow-link d-block" (click)="navigate()">
                        <div>
                            <h1>{{ followers }}</h1>
                            <p>دنبال کنندگان</p>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-4 text-center">
                    <a class="follow-link d-block" (click)="navigate()">
                        <div>
                            <h1>{{ following }}</h1>
                            <p>دنبال شوندگان</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3 rtl d-block d-sm-none">
        <div class="col-12 pr-5">
            <h3 *ngIf="isPresent" class="name">{{ userView.firstName }} {{userView.lastName}}</h3>
            <p *ngIf="isPresent" class="mb-1">@{{ userView.username }}</p>
            <p *ngIf="isPresent" class="m-0"><small>{{ userView.birthDate }}</small></p>
        </div>
    </div>
    <div *ngIf="loginUser" class="row current">
        <div class="col-12 pl-5 mt-2">
            <p *ngIf="isPresent">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                {{ userView.email}}
            </p>
            <p *ngIf="isPresent">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                {{ userView.mobile }}
            </p>
        </div>
    </div>
    <div class="row no-gutters rtl d-felx justify-content-center">
        <div class="col-6">
            <button class="w-100 outline-btn main-btn" routerLink="/user/profile/edit" *ngIf="loginUser">ویرایش پروفایل</button>
            <button class="w-100 main-btn" *ngIf="!loginUser && !isFollowed" (click)="requestToFollow()" [hidden]="!isAuth" [disabled]="authError.length>0">دنبال کردن</button>
            <button class="w-100 main-btn" *ngIf="!loginUser && isFollowed" (click)="requestToUnfollow()" [hidden]="!isAuth" [disabled]="authError.length>0">دنبال نکردن</button>
        </div>
        <div class="col-2 d-felx justify-content-end pr-2" *ngIf="isAuth">
            <button class="profile-button share-button mb-0" ngxClipboard [cbContent]="link" (click)="copyLink()">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-12 text-center" *ngIf="isAuth">
            <p class="m-0" *ngIf="copied"><small>لینک پرفایل کپی شد</small></p>
        </div>
        <div class="col-12 text-center" >
            <p *ngIf="authError.length>0" class="text-danger"><small>{{ authError }}</small></p>
        </div>
    </div>
    <hr>
    <app-masonry-posts *ngIf="isPresent && postsPresent" [posts]="userPosts" [mode]="'getPostsByUsername'" [params]="userView.username"></app-masonry-posts>

</div>
