<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-3 col-md-4 col-xl-3 py-1 pr-1 pl-0">
                    <img src="../../assets/shayan.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-9 col-md-8 col-xl-9">
                    <div class="card-body">
                      <h5 class="card-title">شایان دانشور</h5>
                      <p class="card-text">توسعه‌دهنده بک-اند</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-3 col-md-4 col-xl-3 py-1 pr-1 pl-0">
                    <img src="../../assets/hashem.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-9 col-md-8 col-xl-9">
                    <div class="card-body">
                      <h5 class="card-title">هاشم پورالله‌وردی</h5>
                      <p class="card-text">توسعه‌دهنده فرانت-اند</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-3 col-md-4 col-xl-3 py-1 pr-1 pl-0">
                    <img src="../../assets/ali.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-9 col-md-8 col-xl-9">
                    <div class="card-body">
                      <h5 class="card-title">علی قیومی</h5>
                      <p class="card-text">توسعه‌دهنده فرانت-اند</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-3 col-md-4 col-xl-3 py-1 pr-1 pl-0">
                    <img src="../../assets/amir.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-9 col-md-8 col-xl-9">
                    <div class="card-body">
                      <h5 class="card-title">امیر اسماعیل‌پور</h5>
                      <p class="card-text">توسعه‌دهنده هوش مصنوعی</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
