form{
    direction: rtl;
}
.btn{
    background-color: var(--secondary_color);
    color: white;
    width: 100%;
}
input.ng-invalid.ng-touched{
    border: 2px solid red;
}
.confirm{
    font-size: 1.5rem;
    direction: rtl;
    text-align: justify;
}