<div class="container upload-box">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-12 col-md-10 col-lg-8">
            <h3>آپلود پست جدید</h3>
            <form class="p-5 my-4" (submit)="onSubmit()">
                <div class="form-group">
                    <label for="title">
                        عنوان:
                        <span [ngClass]="{'text-danger':title.length===40}"><small>({{title.length}}/40)</small></span>
                    </label>
                    <input type="text" name="title" id="title" class="form-control" required minlength="1"
                        maxlength="40" [(ngModel)]="title">
                </div>
                <div class="row mb-5 justify-content-between">
                    <div class="col-md-6 mb-3 ">
                        <div class="custom-file file-box">
                            <input type="file" id="file" class="custom-file-input" accept="image/png,image/jpeg"
                                required (change)="onChange($event)">
                            <label #file_label for="file" class="custom-file-label file-label text-danger">تصویری انتخاب
                                نشده
                                است</label>
                        </div>
                    </div>
                    <div class="col-md-5 cats">
                        <div class="dropdown p-0">
                            <button class="dropdown-toggle m-0 w-100" role="button" type="button"  appDropdown>
                                دسته بندی ها
                            </button>
                            <div *ngIf="allCats" class="dropdown-menu py-0">
                                <button *ngFor="let cat of allCats" id="cat.id" class="dropdown-item m-0 px-0 py-1"
                                    (click)="addCat(cat.id)" [ngClass]="{'selected':cat.selected}"
                                    [disabled]="cat.selected || selectedCats.length===4">
                                    {{ cat.name }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div>
                            <h6>
                                دسته‌بندی‌ها:
                                <span
                                    [ngClass]="{'text-danger':selectedCats.length===4}"><small>({{selectedCats.length}}/4)</small></span>
                            </h6>
                        </div>
                        <ul class="list-inline">
                            <li *ngFor="let cat of selectedCats;let i=index" class="list-inline-item cat">
                                <a role="button" (click)="removeCat(i)">
                                    <small>{{ cat.name }}</small>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <label for="desc">
                    توضیحات:
                    <span [ngClass]="{'text-danger':description.length===250}"><small>({{description.length}}/250)</small></span>

                </label>
                <textarea name="desc" id="desc" cols="30" rows="10" class="form-control" required minlength="1"
                    maxlength="250" [(ngModel)]="description"></textarea>
                <div class="row justify-content-center">
                    <button [disabled]="!imgFile || !title || !description">بارگذاری</button>
                </div>
            </form>
        </div>
    </div>
</div>