.upload-box{
    direction: rtl;
    // border:4px var(--secondary_color) solid;
    // width: 80%;
}
form{
    border:4px var(--secondary_color) solid;
    border-radius: 10px;
}
.file-label{
    text-align: left;
    overflow: hidden;
}
.dropdown-menu{
    width: 100%;
    text-align: center;
    // cursor: pointer;
}
.selected{
    background-color: green;
    border-radius: 0%;
    border-bottom: 1px gray solid;
    color: lighten($color: gray, $amount: 10);
}
ul{
    padding-right: 15px;;
}
.cat{
    background-color: var(--secondary_color);
    display: inline-block !important;
    border-radius: 10px;
    margin: 5px;
    padding: 2px 10px;

}
.cat-menu{
    max-height: 400px;
    overflow-y: auto;
}
.cats{
    z-index: 2;
}