.upload-box{
    direction: rtl;
    // width: 80%;
}
.file-label{
    text-align: left;
    overflow: hidden;
}
// .cat-label{
//     display: inline !important;
// }
// .cat-label{
//     // text-overflow: clip;
//     white-space:nowrap;
//     overflow: visible;
// }