<div class="container upload-box">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form (submit)="onSubmit()">
                <div class="row mb-5 justify-content-between">
                    <div class="col-md-6 mb-2 pl-0">
                        <div class="custom-file file-box">
                            <input type="file" id="file" class="custom-file-input" accept="image/png,image/jpeg"
                                required (change)="onChange($event)">
                            <label #file_label for="file" class="custom-file-label file-label">تصویری انتخاب نشده
                                است</label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="dropdown p-0">
                            <button class="dropdown-toggle m-0 w-100" role="button" type="button" appDropdown>
                                 دسته‌بندی‌ها
                            </button>
                            <div class="dropdown-menu py-0">
                                <button *ngFor="let cat of allCats" id="cat.id" class="dropdown-item m-0"
                                    (click)="addCat(cat.id)"
                                    [ngClass]="{'selected':cat.selected}"
                                    [disabled]="cat.selected">
                                    {{ cat.name }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-inline">
                        <li *ngFor="let cat of selectedCats;let i=index" class="list-inline-item cat">
                            <a role="button" (click)="removeCat(i)">
                                <small>{{ cat.name }}</small>
                            </a>
                        </li>
                    </ul>
                </div>
                <label for="desc">توضیحات:</label>
                <textarea name="desc" id="desc" cols="30" rows="10" class="form-control"
                    [(ngModel)]="description"></textarea>
                <div class="row justify-content-center">
                    <button>بارگذاری</button>
                </div>
            </form>
        </div>
    </div>
</div>