.more-btn{
    background-color: transparent;
    border: 2px solid var(--secondary_color);
    transition: background-color 0.3s ease-in;
    &:hover{
        background-color: var(--secondary_color);
    }
}