<div *ngIf="(loaderService.isLoading | async) && firstLaod" class="loader-container">
    <mat-spinner style="top: 35%;left: 50%"></mat-spinner>
</div>
<ng-template #noInfo>
    <br>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">!نتیجه ای یافت نشد</h4>
    </div>
</ng-template>
<div class="ui-main-posts" *ngIf="isExist; else noInfo">
    <div>
        <!-- <a [routerLink]='["/more","followed"]' class="more-link">...مشاهده بیش‌تر</a> -->
        <h3>پست های برتر</h3>
    </div>
    <hr>
    <app-masonry-posts [posts]="hotPosts" [mode]="'getHighRatedPost'"></app-masonry-posts>
</div>
