
.sidenav-container {
  height: 100%;
}
.uiNav {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0% !important;
  // background-color: var(--primary_color);
  font-family: "IRANSansWeb";
  text-align: right;
  padding: 2px;
  max-width: 100vw;
  max-height: 100vh;
  &-row{
    background-color: var(--primary_color);
    z-index: 101;
  }
}
#cat-menu{
  background-color: lighten(#232a34, $amount: 3%);
  // direction: rtl;
  padding-right: 0.2rem;
  height: auto;
  max-height: 50vh;
  overflow-y: scroll;
  position: absolute;
  top: 64px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // transform: translateY(-15px);
  &::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  &::-webkit-scrollbar-track {
    background: lighten(#232a34, $amount: 3%);        /* color of the tracking area */
  }
  
  &::-webkit-scrollbar-thumb {
    background-color:var(--secondary_color);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--secondary_color);  /* creates padding around scroll thumb */
  }
  // z-inde;
  .container-fluid{
    // width: 100%;
    // height: 100%;
    direction: rtl;
    // overflow-y: visible;
    // height: 100%;
  }
  
}
.cat-link{
  width: 100%;
  height: 100%;
  &:hover{
    text-decoration: none;
    background-color: lighten(#232a34, $amount: 5%);
    color: white;
  }
}
#icon-big{
  height: 100%;
  // display: flex;
  // justify-content: space-between;
  button{
    box-sizing: border-box;
    border-radius: 0% !important;
    height: 100%;
    width: 45px !important;
    margin-top: 0;
    margin-bottom: 0;

    // width: 100%;
    &:hover{
      color: white;
      .icon{
        transform: scale(1.1);

      }
      // outline-bottom: 2px white solid;

    }
    &:focus{
      outline-color: transparent;
      // color: red;
    }
  }
}

.sidenav {
  width: 260px;
}

.sidenav .mat-toolbar {
  background: inherit;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.hidden {
  display: none;
}

.spacer {
   flex: 1 1 auto;
}

.mat-toolbar a {
  display: inline-block;
  margin: 40px 10px 0 0;
  color: var(--text_color2);
}
.navbar-brand{
  height: 100%;
}
.responsive {
  max-width: 100%;
  max-height: 100%;
  padding: 3px;
  border-radius: 40%;

}

.side-mat-toolbar {
  background-color: var(--bg_color);
}

.side-mat-toolbar .mat-list-item {
  font-family: "IRANSansWeb" !important;
  color: var(--text_color);
}

.side-mat-toolbar .mat-tool {
  font-family: "IRANSansWeb" !important;
  color: var(--text_color);
}
.nav-item{
  font-family: "IRANSansWeb" !important;
  padding-bottom: 2.5rem;
  display: inline-block;
  margin-right: 50px !important;
}

.avatar-img {
  width: 42px;
  height: 42px;
  border: 2px solid var(--bg_color);
  border-radius: 50%;
  margin-left: 10px;
  margin-right: -5px;
}

::ng-deep .mat-menu-content {
  border: 0px solid;
  overflow: hidden;
}


.btn-link{
  width: 40px;
  height: 28px;
  padding: 0;
  margin: 10px;
  color: var(--bg_color);
  border-radius: 15%;
  text-align: center;
  font-size: 15px;
  line-height: 1.42857;
}


span {
  font-family: 'IRANSansWeb';
  color: var(--text_color);
}

.btn-dropdown {
  padding: 0px;
  margin: 0px;
}

.btnn-circle {
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 10px;
  background-color: var(--primary_color);
  color: var(--text_color2);
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  line-height: 1.42857;
}

::ng-deep .mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  border-radius: 50% !important;
  border-color: var(--primary_color) !important;
}

.navbar-item {
  overflow: hidden;
  background-color: var(--bg_color);
}
