.uiPost {
  transition: transform 0.3s ease-in-out;
  height: auto;
  width: 100%;
  border-radius: 10px;
  /*border: 2px var(--secondary_color) solid;*/
  box-shadow: 0 4px 8px 0 var(--text_color), 0 6px 10px 0 var(--secondary_color);
}

.imgPost:hover {
  cursor: zoom-in;
}

.detail {
  border-radius: 2px;
  padding: 4px 4px 4px 4px;
  margin: 0 0 3px 0;
}

.ui-detail {
  //padding: 2px;
  border-radius: 10px;
  border: 4px var(--secondary_color) solid;
  box-shadow: 0 4px 8px 0 var(--text_color), 0 6px 20px 0 var(--secondary_color);
  /*height: 550px;
  width: 1200px;*/
}

.card-body {
  margin-top: -16px;
}

.container {
  max-width: 850px;
  @media (max-width: 1500px) {
    max-width: 700px;
  }
  @media (max-width: 1200px) {
    max-width: 600px;
  }
}

.ui-content {
  height: auto;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
}


.unRate {
  float: right;
  height: 10vh;
}

.btnn-danger {
  background-color: var(--bg_color);
  color: var(--text_color);
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
}

.btnn-danger:hover {
  border-color: var(--bg_color);
}


.btnn-circle {
  width: 30px;
  height: 30px;
  padding: 1px 0 10px 0;
  margin-right: -1px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
.delete-btn{
  // margin: 0.5px;
  margin: 5px 0 0 5px;
  width: 35px;
  height: 35px;
  padding: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--tertiary_color);
  color: var(--text_color2);
}

.avatar-img {
  width: 30px;
  height: 30px;
  border: 2px solid var(--secondary_color);
  border-radius: 50%;
}
::ng-deep .mat-tab-label, .mat-tab-label-active{
  min-width: 0!important;
  padding: 3px!important;
  margin: 3px!important;
}

button {
  outline: none;
}

@mixin star-rating( $filled-color: #F9BF3B, $empty-color: #444, $size: 20px, $width: 125px) {
  $star--filled: ★;
  $star--empty: ☆;
  width: $width;
  > * {
    float: right;
  }
  // optional initial pulse of stars
  @at-root {
    @keyframes pulse {
      50% {
        color: lighten($empty-color, 10%);
        text-shadow: 0 0 15px lighten($empty-color, 20%);
      }
    }
  }
  label {
    height: 40px;
    width: 20%;
    display: block;
    position: relative;
    cursor: pointer;
    @for $i from 5 through 1 {
      &:nth-of-type(#{$i}):after {
        $animation-delay: $i * .05s;
        animation-delay: $animation-delay;
      }
    }
    &:after {
      transition: all 0.4s ease-out;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      content: '#{$star--empty}';
      color: $empty-color;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: $size;
      animation: 1s pulse ease;
    }
    &:hover:after {
      color: lighten($empty-color, 10%);
      text-shadow: 0 0 15px lighten($empty-color, 10%);
    }
  }
  input {
    display: none;
    &:checked {
      + label:after,
      ~ label:after {
        content: '#{$star--filled}';
        color: $filled-color;
        text-shadow: 0 0 20px $filled-color;
      }
    }
  }
}

.rating {
  float: right;
  @include star-rating();
}
