.uiPost {
  height: auto;
  width: 100%;
  border-radius: 2px;
  border-color: var(--secondary_color);
  padding: 6px;
  margin: 6px;
}

.detail grad {
  border-radius: 2px;
  padding: 4px;
  margin: 4px;
}

.ui-detail {
  border-color: var(--text_color);
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  padding: 1px;
  margin: 1px;
  /*height: 550px;
  width: 1200px;*/

}

.ui-content {
  height: auto;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
}

#grad {
  background-image: conic-gradient(from 30deg at 35% 65%, ghostwhite, var(--secondary_color) 60%, var(--primary_color));
}



