<div class="container-fluid">
  <div class="card ui-detail">
    <div class="card-body">
      <div class="card-header shadow-lg detail">
        <h2 class="card-title"><a>{{post.title}}</a></h2>
        <p>
          <a href="" [routerLink]="['/user',post.username]" class="card-link">@{{post.username}}</a>
        </p>
        <h5>{{post.categories}} :نوع عکس</h5>
      </div>
      <div class="card-img-top shadow-lg"><img src="{{postUrl}}" alt="{{post.title}}" class="uiPost"></div>
      <div class="card-text ui-content">
        <p> :توضیحات</p>
        <p>{{post.description}}
        </p>
      </div>
    </div>
  </div>
</div>
