<div class="container-fluid">
  <div id="grad" class="card ui-detail shadow-lg">
    <div *ngIf="loaderService.isLoading | async" class="loader-container">
      <mat-spinner style="top: 50%;left: 50%" color="warn"></mat-spinner>
    </div>
    <div class="card-body">
      <div class="card-header detail">
        <h6 class="card-title"><a>{{post.title}}</a></h6>
        <p>
          <a href="" [routerLink]="['/user',post.username]" class="card-link">@{{post.username}}</a>
        </p>
        <div class="row">
          <div class="col-md-12">
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
          </div>
          <div class="col-md-12">
            <h5>{{post.categories}} :نوع عکس</h5>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="card-img-top col-md-5"><img src="{{postUrl}}" alt="{{post.title}}" class="uiPost"></div>
        <div class="card-text col-md-6" style="padding: 50px">
          <h6>{{post.description}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
