<div class="container ui-detail ">
  <div class="row">
    <div class="col-xl-8 mt-5">
      <section>
        <img src="/assets/photodefault.jpg" alt="hzxh" style="max-width: 100%" class="uiPost">
      </section>
    </div>
    <div class="col-xl-3 mt-5">
      <div class="col-sm-12 float-right detail">
        <h2><a href="#">اسم کاربر</a></h2>
        <p>نوع عکس: انتزاعی</p>
      </div>
      <div class="float-right mt-5 ui-content">
        <p>توضیحات</p>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
