<div>

  <a href="{{domain}}/oauth2/authorize/google?redirect_uri=/">
    <button class="btn mx-0"
            style="margin-bottom: 10px;padding: 0.3rem; background-color: var(--tertiary_color);">
      <mat-icon style="width: 50px; height:30px"
                svgIcon="logo"></mat-icon>
      ورود با گوگل
    </button>
  </a><br/>

  <a href="{{domain}}/oauth2/authorize/github?redirect_uri=/">
    <button class="btn mx-0"
            style="margin-top: 10px;padding: 0.3rem; background-color: #161614;">
      <mat-icon
        style="width: 30px; height:30px; background-color: white; border-radius: 50%;"
        svgIcon="githubLogo"></mat-icon>
      ورود با گیتهاب
    </button>
  </a>
</div>
