@font-face{
    src: url("assets/IRANSansWeb.ttf");
    font-family: "IRANSansWeb";
}
:root{
    --bg_color:#ededed;
    --primary_color:#ffa41b;
    --secondary_color:#ff5151;
    --text_color:#9818d6;
}
html,body{
    background-color: var(--bg_color);
    color: var(--text_color);
    font-family: "IRANSansWeb";
    text-align: right;
    height: 100%;
    // direction: rtl;
}
body {
  margin: 0;
}

a{
  cursor: pointer;
  color:var(--text_color) ;
}
.uiNav {
  background-color: var(--primary_color);
  font-family: "IRANSansWeb";
  text-align: right;
  border-radius: 4px;
  padding: 2px;
  max-width: 100vw;
  max-height: 100vh;
}

button {
  background-color: var(--secondary_color);
  color: #612570;
  border: 0px;
  border-radius: 5px;
  margin: 20px;
  padding: 5px 30px 5px 30px;

}

.ui-recomm {
  height:auto;
  width:100%;
  overflow:auto;
  border-radius: 40px;
  background-color: var(--secondary_color);
  scrollbar-base-color:gold;
  padding:15px;
  position: -webkit-sticky;
  position: sticky;
  //top: 0px;
  //z-index:100;
}

.ui-main-posts {
  height:auto;
  width:100%;
  overflow:auto;
  border-radius: 10px;
  background-color: var(--bg_color);
  scrollbar-base-color:gold;
  padding:15px;
}

.main-page {
  background-color: var(--bg_color);
  color: var(--text_color);
  font-family: "IRANSansWeb";
  text-align: right;
  height: 100%;
}

.loader-container{
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--bg_color);
  opacity: 0.9;
  z-index: 99;
}
