@font-face{
    src: url("assets/IRANSansWeb.ttf");
    font-family: "IRANSansWeb";
}
:root{
    --bg_color:#ededed;
    --primary_color:#ffa41b;
    --secondary_color:#ff5151;
    --text_color:#9818d6;
}
html,body{
    background-color: var(--bg_color);
    color: var(--text_color);
    font-family: "IRANSansWeb";
    text-align: right;
    // direction: rtl;
}
a{
  cursor: pointer;
}
.uiNav {
  background-color: var(--primary_color);
  font-family: "IRANSansWeb";
  text-align: right;
}

button {
  background-color: var(--secondary_color);
  color: #612570;
  border: 0px;
  border-radius: 5px;
  margin: 20px;
  padding: 5px 30px 5px 30px;

}

.ui-recomm {
  height:190px;
  width:1100px;
  overflow:auto;
  border-radius: 10px;
  background-color: var(--secondary_color);
  color:white;
  scrollbar-base-color:gold;
  padding:15px;
}

.ui-main-posts {
  height:380px;
  width:1100px;
  overflow:auto;
  border-radius: 10px;
  background-color: var(--bg_color);
  color:white;
  scrollbar-base-color:gold;
  padding:15px;
}
