<div class="container">
  <mat-vertical-stepper class="stepperForm">
    <mat-step [stepControl]="firstLastNameForm" label="نام و نام خانوادگی" state="name" optional>
      <div class="float-left">
        <form [formGroup]="firstLastNameForm">
          <mat-form-field hintLabel="حداقل ۲ کاراکتر" class="full-width">
            <mat-label>نام</mat-label>
            <input matInput placeholder="نام" formControlName="firstName" class="float-left" optional>
          </mat-form-field>
        </form>
        <form [formGroup]="firstLastNameForm">
          <mat-form-field hintLabel="حداقل ۲ کاراکتر" class="full-width">
            <mat-label>نام خانوادگی</mat-label>
            <input matInput placeholder="نام خانوادگی" formControlName="lastName" class="float-left" optional>
          </mat-form-field>
          <div>
            <button mat-button matTooltip="بعدی" matStepperNext (click)="changeName()">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <button mat-button matTooltip="عدم تغییر" matStepperNext>
              <mat-icon>not_interested</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step [stepControl]="emailForm" label="ایمیل" state="email" optional>
      <form [formGroup]="emailForm">

        <div class="float-left">
          <mat-form-field>
            <mat-label>ایمیل</mat-label>
            <input matInput formControlName="email" placeholder="googlee@gmail.com" required>
            <mat-error></mat-error>
          </mat-form-field>
          <div>
            <button mat-button matTooltip="قبلی" matStepperPrevious>
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button mat-button matTooltip="بعدی" matStepperNext (click)="changeEmail()">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <button mat-button matTooltip="عدم تغییر" matStepperNext>
              <mat-icon>not_interested</mat-icon>
            </button>
          </div>
        </div>

      </form>
    </mat-step>
    <mat-step [stepControl]="phoneForm" label="شماره همراه" state="phone" optional>
      <form [formGroup]="phoneForm">

        <div class="float-left">
          <mat-form-field hintLabel="۰۹۱۲۳۴۵۶۷۸۹">
            <mat-label>شماره همراه</mat-label>
            <input matInput formControlName="phone" required>
          </mat-form-field>
          <div>
            <button mat-button matTooltip="قبلی" matStepperPrevious>
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button mat-button matTooltip="بعدی" matStepperNext (click)="changePhone()">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <button mat-button matTooltip="عدم تغییر" matStepperNext>
              <mat-icon>not_interested</mat-icon>
            </button>
          </div>
        </div>

      </form>
    </mat-step>
    <mat-step [stepControl]="dateForm" label="تاریخ تولد" state="birthDate" optional>
      <form [formGroup]="dateForm">

        <div class="float-left">
          <mat-form-field>
            <mat-label>
              <mat-icon>date_range</mat-icon>
            </mat-label>
            <input matInput formControlName="date" type="date" placeholder="Ex.: 2020-1-1" required>
          </mat-form-field>
          <div>
            <button mat-button matTooltip="قبلی" matStepperPrevious>
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button mat-button matTooltip="بعدی" matStepperNext (click)="changeDate()">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <button mat-button matTooltip="عدم تغییر" matStepperNext>
              <mat-icon>not_interested</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="passwordForm" label="رمز عبور" state="password" optional>
      <div class="float-left">
        <form [formGroup]="passwordForm">
          <mat-form-field hintLabel="حداقل ۶ کاراکتر">
            <mat-label>رمز جدید</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div>
            <button mat-button matTooltip="قبلی" matStepperPrevious>
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button mat-button matTooltip="بعدی" matStepperNext (click)="changePassword()">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <button mat-button matTooltip="عدم تغییر" matStepperNext>
              <mat-icon>not_interested</mat-icon>
            </button>
          </div>
        </form>
        <!-- <form [formGroup]="passwordForm">
          <mat-form-field hintLabel="حداقل ۶ کاراکتر">
            <mat-label>تکرار رمز جدید</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="passwordRep"
                   required>
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div>
            <button mat-button matTooltip="قبلی" matStepperPrevious>
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button mat-button matTooltip="بعدی" matStepperNext (click)="changePassword()">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <button mat-button matTooltip="عدم تغییر" matStepperNext >
              <mat-icon>not_interested</mat-icon>
            </button>
          </div>
        </form> -->
      </div>
    </mat-step>
    <mat-step label="پایان" state="doneall">
      <div class="float-left">
        <p>برای ثبت تغییرات دکمه تایید را بزنید</p>
        <div>
          <button mat-button matStepperPrevious>
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
          <button mat-button (click)="onSubmit()">
            <mat-icon>cloud_done</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="errorMsg" class="alert alert-danger pt-0 pr-1 ">
        <a (click)="errorMsg=''" class="text-danger m-0 p-0 error-toggler">
          <mat-icon>error</mat-icon>
        </a>
        <p class="text-danger my-0 pr-2">{{ errorMsg }}</p>
      </div>
    </mat-step>

    <ng-template matStepperIcon="name">
      <mat-icon>drive_file_rename_outline</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="username">
      <mat-icon>supervised_user_circle</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="email">
      <mat-icon>alternate_email</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="phone">
      <mat-icon>smartphone</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="birthDate">
      <mat-icon>date_range</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="password">
      <mat-icon>security</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="doneall">
      <mat-icon>donut_small</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>done_all</mat-icon>
    </ng-template>

  </mat-vertical-stepper>


</div>