.btn-custom1 {
  background-color: var(--tertiary_color);
  &:hover {
    background-color: #7c1d05;
  }
}

img {
  padding: 3px;
  border-radius: 5px;
  border: 3px solid var(--secondary_color);
  box-shadow: 0 4px 8px 0 var(--text_color), 0 6px 20px 0 var(--secondary_color);
  &:hover {
    cursor: zoom-in;
  }
}
.collection {
  height: auto;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 var(--text_color), 0 6px 20px 0 var(--secondary_color);
  border: 1px solid  var(--secondary_color);

}

::ng-deep .carousel-control-next-icon,::ng-deep .carousel-control-prev-icon {
  background-color: var(--primary_color);
  border-radius: 10%;
}

.ui-username {
  font-size: 25px;
  text-shadow: 0 0 2px var(--primary_color);
}
