<div class="container-fluid">
  <div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-spinner style="top: 50%;left: 50%" color="warn"></mat-spinner>
  </div>
  <div class="mt-2 d-flex flex-column">
    <h3>صفحه اصلی</h3>
    <br><br>
    <div *ngIf="isAuth" class="ui-recomm">
      <div class="d-flex justify-content-between">
        <a href="" class="more-link">...مشاهده بیش‌تر</a>
        <h3>پیشنهادی ها</h3>
      </div>
      <hr>
      <div class="d-flex flex-fill justify-content-between p-3">
        <div class="p-2" *ngFor="let post of postView |
    paginate: { id: 'pagination1', itemsPerPage: 3, currentPage: p }">
          <app-post [post]="post"></app-post>
        </div>
      </div>
      <div class="d-flex justify-content-sm-center  mt-0">
        <pagination-controls
          id="pagination1"
          previousLabel="قبلی"
          nextLabel="بعدی"
          responsive="true"
          [autoHide]="true"
          (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <div class="ui-main-posts mt-5" *ngIf="!isEmpty">
      <div class="d-flex justify-content-between">
        <a href="" class="more-link">...مشاهده بیش‌تر</a>
        <h3>آخرین پست‌ها</h3>
      </div>
      <hr>
      <div class="d-flex justify-content-center">
        <pagination-controls
          previousLabel="قبلی"
          nextLabel="بعدی"
          responsive="true"
          [autoHide]="true"
          (pageChange)="p2 = $event"></pagination-controls>
      </div>
      <hr>
      <div class="row ">
        <div class="col-xl-4 w-100 clearfix" *ngFor="let post of postView |
paginate: { itemsPerPage: 9, currentPage: p2 }">
          <app-post [post]="post" class="flex-fill"></app-post>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <pagination-controls
          previousLabel="قبلی"
          nextLabel="بعدی"
          responsive="true"
          [autoHide]="true"
          (pageChange)="p2 = $event"></pagination-controls>
      </div>
    </div>

  </div>

</div>


