.formComment {
  min-width: 150px;
  max-width: 100vh;
  width: 100%;
}

ul {
  list-style-type: none;
  margin-right: -10%;
}

.full-width {
  width: 100%;
}

.mt-100 {
  margin-top: 100px
}

.mb-100 {
  margin-bottom: 100px
}

.p-2 {
  padding: 0.5rem !important
}

.comment-row{
  border-bottom: 1px solid rgb(241, 241, 241);
}

.comment-text {
  padding-left: 15px
}

.w-100 {
  width: 100% !important
}

.m-b-15 {
  margin-bottom: 15px
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.76563rem;
  line-height: 1.5;
  border-radius: 1px
}

.btn-cyan {
  color: #fff;
  background-color: #27a9e3;
  border-color: #27a9e3
}

.btn-cyan:hover {
  color: #fff;
  background-color: #1a93ca;
  border-color: #198bbe
}
.btnn-danger {
  color: #fff;
  background-color: var(--secondary_color);
  border-color: var(--secondary_color);
}

.btnn-danger:hover {
  color: #fff;
  background-color: var(--secondary_color);
  border-color: #04473b
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 1px 0 10px 0;
  margin-right: -15px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.disable_ripple:hover{
  background: var(--bg_color) !important;
}
.disable_ripple:focus{
  background: #b3b1b1 !important;
}
.toggler{
  text-align: left;
  display: inline-block;
  width: 100%;
  color: black;
  text-decoration: none;
  &:hover{
    color: black;
    text-decoration: none;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: var(--secondary_color);
  }
  .mat-form-field-ripple {
    background-color: var(--secondary_color);
  }
  .mat-form-field-required-marker {
    color: var(--secondary_color);
  }
  .mat-input-element {
    color: var(--text_color);
  }
}

/*::ng-deep mat-tab-group mat-tab {
  .mat-tab-links {
    color: var(--secondary_color);
  }
}*/

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: var(--secondary_color) !important;
}
